$firstcolor: #15c5bd;
$secondcolor:#FFF;
$thirdcolor: #303030;

body{
    background-color: $secondcolor;
    header{
        text-align: center;
        .bg-dark{
            background-color: $secondcolor !important;
        }
        .navbar{
            text-align: center;
            .navbar-toggler{
                border: solid 3px $thirdcolor;
                background-color: $thirdcolor;
                &:hover{
                    border: none;
                }
            }
            .nav-link{
                color: $thirdcolor !important;
                &:hover{
                    color:$firstcolor !important;
                }
            }
            .TTlogo{
                width: 13%;
                margin-top: -3%;
                margin-bottom: -3%;
                border-radius: 2%;
            }
        }
    }
    .jumbotron{
        padding-bottom: 20%;
        background-image: url(../img/backgroundJumbo.jpg);
        background-size: cover;
        background-position: center;
        .container{
            color: white;
            background-color: #30303080;
            border-radius: 3%;
        }
    }
    #TTcookie-alert{
        position: relative;        
        height: 5%;
        top: 0%;
    }
    #TTbtnUp {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: solid 5px $thirdcolor;
        outline: none;
        background-color: rgba(255, 255, 255, 0.329);
        color: $thirdcolor;
        cursor: pointer;
        padding: 20px;
        border-radius: 50%;
        i{
            color: $firstcolor;
        }
        &:hover {
            background-color: rgba(128, 128, 255, 0.329);
        }
    }
}

.carousel-indicators{
    background-color: $firstcolor;
}